/* chart default line */
label {
    font-weight:unset;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#chartLegend {
    float:left;
    list-style:none;
    margin-left:10px;
}
#chartLegend span {
    display:inline-block;
    margin-bottom:4px;
    width:10px;
    height:2px;
}
.carousel-slider .carousel-item-eight {
    background: url(../assets/pages/img/frontend-slider/winter.jpg);
}
.carousel-slider .item {
    min-height: 380px;
}
.social-icons li .microsoft {
    background: url(../assets/pages/img/social/liveid.png) no-repeat;
}
a.site-logo {
    display: block;
    float: left;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
div.brand-name {
    color: #3e4d5c;
    font-size: 23px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    line-height: 26px;
}
div.brand-slogan {
    color: #616b76;
    font-weight: unset;
    font-size: 11px;
    line-height: 12px;
    margin: 0px;
    padding: 0px;
}
span.brand-red {
    color:#E6400C;
}
.indicator {
    border: 1px solid black;
    float: left;
    font-size: 20pt;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}

.indicator-label {
    font-size: 10px;
    text-align: center
}