/* chart default line */
.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#chartLegend {
    list-style:none;
    margin-left:10px;
}
#chartLegend span {
    display:inline-block;
    margin-bottom:4px;
    width:10px;
    height:2px;
}
.carousel-slider .carousel-item-eight {
    background: url(../assets/pages/img/frontend-slider/winter.jpg);
}
.carousel-slider .item {
    min-height: 380px;
}