@model Calculator

<div class="row margin-bottom-40">
    <div class="col-md-6 col-sm-6">
        <h1>Delete</h1>

        <div class="alert alert-danger">Are you sure you want to delete calculator  <strong>@Model.Name</strong>&nbsp;?</div>
        <div>
            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <a href="@Url.Action("Edit", "Measurements", new { id = Model.Measurement.Id })" class="btn btn-primary">Back to measurement</a>
                </div>
            </form>
        </div>
    </div>
</div>
