<h1>Credits</h1>

<p>Thanks for using TemperatureStation by <a href="http://gunnarpeipman.com">Gunnar Peipman</a>.</p>

<p>This project uses following components and technologies:</p>

<ul>
    <li>ASP.NET Core</li>
    <li>Entitiy Framework Core</li>
    <li>AutoMapper</li>
    <li>SQL Server 2012 / SQL Azure</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>Serilog</li>
</ul>