<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h1>Credits</h1>

        <p>Thanks for using TemperatureStation by <a href="http://gunnarpeipman.com">Gunnar Peipman</a>.</p>
    </div>
</div>
<div class="row margin-bottom-40">
    <div class="col-md-6 col-sm-6">
        <h2>Bits, bytes and bolts</h2>

        <p>This project uses following components and technologies:</p>

        <ul>
            <li>ASP.NET Core</li>
            <li>Entitiy Framework Core</li>
            <li>AutoMapper</li>
            <li>SQL Server 2012 / SQL Azure</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>Serilog</li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-6">
        <h2>Beautiful things</h2>

        <p>This project uses design and graphics by:</p>

        <ul>
            <li>Keenthemes</li>
        </ul>
    </div>
</div>