@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Limited account</h2>
        <p>Guest account can log in but cannot see any data. Ask administrator for higher permissions to see data.</p>
    </div>
</div>