@{
    ViewData["Title"] = "Home Page";
}

<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-40">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-frontend">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-eight active">
                <div class="container">
                    <div class="carousel-position-six text-uppercase text-center">
                        <h2 class="margin-bottom-20 animate-delay carousel-title-v5" style="padding:10px; margin-left:120px; background-color:black;opacity:0.8" data-animation="animated fadeInDown">
                            <span style="color:white">Expore the power</span> <br />
                            <span class="carousel-title-normal">of Metronic</span>
                        </h2>
                        @*<p class="carousel-subtitle-v5 border-top-bottom margin-bottom-30" data-animation="animated fadeInDown">This is what you were looking for</p>*@
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-nine">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                            Need a website design?
                        </h2>
                        <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                            This is what you were looking for
                        </p>
                        <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
                            Sed est nunc, sagittis at consectetur id.
                        </p>
                        <a class="carousel-btn-green" href="#" data-animation="animated fadeInUp">Purchase Now!</a>
                    </div>
                </div>
            </div>
            <!-- Third slide -->
            <div class="item carousel-item-ten">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                            Powerful &amp; Clean
                        </h2>
                        <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                            Responsive Website &amp; Admin Theme
                        </p>
                        <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
                            Sed est nunc, sagittis at consectetur id.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- END SLIDER -->

<!-- BEGIN SERVICE BOX -->
<div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-location-arrow blue"></i></em>
            <span>Multipurpose Template</span>
        </div>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-check red"></i></em>
            <span>Well Documented</span>
        </div>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-compress green"></i></em>
            <span>Responsive Design</span>
        </div>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
</div>
<!-- END SERVICE BOX -->

<!-- BEGIN STEPS -->
<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step1">
            <h2>Goal definition</h2>
            <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step2">
            <h2>Analyse</h2>
            <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step3">
            <h2>Implementation</h2>
            <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
        </div>
    </div>
</div>
<!-- END STEPS -->

@*<h1>Welcome to TemperatureStation</h1>
<div class="row">
    <div class="col-md-6">
        <p>Your single point for all important temperature measurements</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Register or log in to get started!</strong>
    </div>
</div>*@

