@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to TemperatureStation</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Your single point for all important temperature measurements</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Register or log in to get started!</strong>
    </div>
</div>