@model TemperatureStation.Web.Data.Measurement

@{
    ViewData["Title"] = "Clear";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete all readings of this measurement?</h3>
<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="dl-horizontal">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Clear">
        <div class="form-actions no-color">
            <input type="submit" value="Clear" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
