@model TemperatureStation.Web.Data.Measurement

<div class="row">
    <div class="col-md-6 col-sm-6">
        <h1>Clear</h1>
    </div>
</div>
<div class="row margin-bottom-40">
    <div class="col-md-6 col-sm-6">
        <div class="alert alert-danger">Are you sure you want to delete all readings of measurement <strong>@Model.Name&nbsp;?</strong></div>
        <div>
            <form asp-action="Clear">
                <div class="form-actions no-color">
                    <input type="submit" value="Clear" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
