@{
    ViewData["Title"] = "Confirm Email";
}
<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h1>@ViewData["Title"].</h1>
        <div>
            <p>
                Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
            </p>
        </div>
    </div>
</div>