@{
    ViewData["Title"] = "Login Failure";
}

<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h1>@ViewData["Title"].</h1>
        <p class="text-danger">Unsuccessful login with service.</p>
    </div>
</div>