@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h1>@ViewData["Title"].</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>