@{
    ViewData["Title"] = "Locked out";
}

<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h1 class="text-danger">Locked out.</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</div>